*{margin:0px; padding: 0px;}
.mandatory{color: red;}
.container{border:1px solid #d4d4d4; margin-top:20px;}
.container form{padding:20px; border-bottom: 1px solid #d4d4d4;}
.tab-container{margin-top: 15px; min-height: 300px; max-height: 500px; overflow-y: auto;}